<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
        <div class="topnav">
                <a href="">New</a>
                <a href="">Contact</a>
                <a href="/create">create</a>
                <a href="/">Home</a>
            </div>
            <div class="form">
                <fieldset>
                <form action="/create-user" method="POST">
                <div>
                    <label for="name" class="name">Input Name</label>
                    <input type="text" name="name">
                </div>
                <div>
                    <label for="email" class="email">Input Email</label>
                  
                    <input type="text" name="email">
                </div>
                <div>
                    <label for="city" class="city">Input City</label>
                    <input type="text" name="city">
                </div>
                <div>
                    <input type="submit" id="" value="Thêm">
                </div>
                </form>
            </fieldset>
            </div>
</body>
</html>