<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
        <div class="topnav">
                <a href="">New</a>
                <a href="">Contact</a>
                <a href="/create">create</a>
                <a href="/">Home</a>
            </div>
         
             
                <form name="form" method="POST" action="/update-user">
                <table>
                    <tr>
                        <td>id</td>
                        <input type="text" name="userID" value="<%=UserEdit.id  %>">
                    </tr>
                    <tr>
                    <td>Name</td>
                    <td><input type="text" name="name" value="<%= UserEdit.name %>" ></td>
                    </tr>
                    <tr>
                    <td>Email</td>
                    <td><input type="text" name="email"  value="<%= UserEdit.email %>"></td>
                    </tr>
                    <tr>
                        <td>City</td>

                        <td><input type="text" name="city"  value="<%= UserEdit.city %>"></td>
                    </tr>
                    <tr>
                    <td colspan="2"><input type="submit" value="Save" ></td>
                    </tr>
                </table>
                </form>   
               
            
</body>
</html>